@import "src/variables";

.ant-radio-group {
  border-radius: $border-radius!important;
  border: $border!important;
  overflow: hidden;

  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-color: $main-color!important;
    //border-color: black!important;
    border-color: $main-color!important;
    color: white!important;
  }
  .ant-radio-button-wrapper-checked::before {
    background-color: unset!important;
    width: 0!important;
  }
}

.ant-radio-group-outline {
  //border-color: $main-color!important;
}