@import "src/variables";


.ant-btn {
    width: 100%;
    padding: 5px 25px 5px 25px;
    border-radius: $border-radius!important;
    border: $border!important;
    text-align: center;
    height: unset!important;
    transition: all 0.4s!important;
    * {
        font-family: NanumGhoticBold;
        transition: all 0.4s!important;
    }
}
.ant-btn.ant-btn-default {
    background-color: $main-color!important;
}

.ant-btn.ant-btn-default:hover {
    color: white;
    border: 3px solid $main-color!important;
    * {
        color: white!important;
    }
}

.ant-btn:active {
    color: black!important;
}