@import '../../node_modules/antd/dist/antd.less';

@font-face {
  font-family: "GillroyRegular";
  src: local("GillroyRegular"),
  url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GillroyBold";
  src: local("GillroyBold"),
  url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 400;
}
.order-card .ant-typography {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,p {
  margin-top: 0!important;
}

//FONTS
@font-family: 'GillroyRegular', 'GillroyBold';
.font-bold {
  font-family: GillroyBold;
}
// -------- Colors -----------

@mainColor: #807E98;
@second-color: #27CB84;
@third-color: #DCF9F1;
@fourth-color: #31CCA2;
//.text-color-second {
//  color: @second-color!important;
//}

// >>> Primary
@primary-color: @fourth-color;
@primary-color-hover: white;
@primary-color-active: white;
//@primary-5: white; // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
//@primary-6: white; // color used to control the text color of active buttons, don't use, use @primary-color
//@primary-7: white; // color used to control the text color of active buttons, don't use, use @primary-color
//// Border color
@border-color-base: white;

@component-background: #EAEAEA;
@text-color: @text-color;
@text-color-secondary: @text-color;
@text-color-inverse: @white;
//@icon-color: inherit;
//@icon-color-hover: fade(@black, 75%);
@heading-color: @text-color;
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);
@text-selection-bg: @white;
@text-color: #070245;
@text-color-secondary: white;
//@text-color-secondary : white;

// LINK
@link-color: #1890ff;

// Timeline
@timeline-width: 1px;
@timeline-color: @mainColor;
@timeline-dot-border-width: 2px;
//@timeline-dot-color: ;
@timeline-dot-bg: @mainColor;
@timeline-item-padding-bottom: 10px;
.ant-timeline-item-head-blue {
  border-color: #EAEAEA!important;
}
.ant-timeline-item-tail {
  border-left-style: dashed!important;
}


@font-size-base: 16px;
@border-radius-base: 15px;
@font-size-lg: 20px;
@font-size-sm: 14px;

// height rules
@height-base: 50px;
@height-lg: 62px;
@height-sm: 25px;
// Buttons
@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-base;

@btn-primary-color: white;
@btn-primary-bg: @mainColor;
//@btn-text-hover-bg: white;
@btn-default-color: white;
@btn-default-bg: @second-color;
.ant-btn:hover {
  background: fade(@second-color, 85%);
}
.ant-btn:focus {
  color: white!important;
  border-color: transparent!important;
  //background: unset!important;
}
.ant-btn {
  text-align: center;
  width: 100%;
}
.ant-btn-lg {
  font-family: GillroyBold;
}
// Typography
.ant-typography {
  font-family: 'GillroyBold';
}
div.ant-typography {
  font-family: 'GillroyRegular';
}

// Layout
@layout-body-background: white;
@media screen and (min-width: 600px) {
  .ant-layout {
    background-color: @component-background;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-layout-content {
    background-color: white;
    width: 390px;
    height: 95vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    flex: unset;
    border-radius: @border-radius-base;
  }
  .ant-layout-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-content {
  padding: 25px;
}

// Form
@form-vertical-label-padding: 0 0 5px;
@form-item-label-height: unset;
@form-item-margin-bottom: 8px;
@form-vertical-label-padding: 0px;
@form-item-label-font-size: @font-size-sm;
@form-item-label-height: unset;
.ant-form-item {
  width: 100%;
}
.ant-form-item-label {
  text-align: left;
  width: 100%;
}
.ant-form-item-control {
  flex: unset!important;
  flex-grow: 1!important;
}

// Input
@input-placeholder-color: #807E98;
@input-color: @text-color;
@input-border-color: transparent;
//input {
//  width: 100%!important;
//}

// LINK
@link-color: @text-color;
@link-active-color: @text-color;

// Radio
@radio-size: 16px;
@radio-top: 0.2em;
@radio-border-width: 1px;
@radio-dot-size: @radio-size - 8px;
@radio-dot-color: @primary-color;
@radio-dot-disabled-color: fade(@black, 20%);
@radio-solid-checked-color: @component-background;

// Radio buttons
@radio-button-bg: @component-background;
@radio-button-checked-bg: #DCF9F1;
@radio-button-color: #807E98;
@radio-button-active-color: #31CCA2;
@radio-disabled-button-checked-bg: @disabled-active-bg;
@radio-disabled-button-checked-color: green;

// Select
// ---
@select-item-selected-color: #31CCA2;
@select-item-selected-font-weight: 600;
@select-dropdown-bg: @component-background;
@select-item-selected-bg: #DCF9F1;
@select-item-active-bg: #DCF9F1;
@select-single-item-height-lg: 50px;
@select-dropdown-height: 50px;

// TimePicker
// ---
@picker-basic-cell-active-with-range-color: @mainColor;
@picker-time-panel-cell-height: 50px;
@picker-time-panel-column-width: 70px;
.ant-picker-time-panel-column::after {
  display: none;
}
.ant-picker-footer > .ant-picker-ranges > .ant-picker-ok {
  width: 100%;
}
//@picker-panel-cell-width: 36px;
//@picker-text-height: 40px;
//@picker-panel-without-time-cell-height: 66px;

// Outline
@outline-color: 'transparent'; // No use anymore

.react-code-input > div {
  max-width: 87vw;
  //font-family: GillroyBold;
  //maxWidth: 100%!important;
}
.react-code-input > div > input {
  font-family: GillroyBold;
  width: 15%!important;
}

// Modal
// --
@modal-header-bg: white;
@modal-content-bg: white;

// Drawer
// ---
@drawer-header-padding: 0;
@drawer-body-padding: 0;
@drawer-bg: white;

// Result
// ---
.ant-result-subtitle {
  color: @mainColor!important;
}

//BOTTOM NAV
.bottom-nav {
  overflow: hidden;
  height: 64px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 21px 22px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 21px 22px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 21px 22px 6px rgba(0,0,0,0.75);
}
.bottom-nav-item.active {
  background-color: white!important;
  color: unset!important;
  font-family: GillroyBold;
}
.bottom-nav-item.active svg path {
  fill: @text-color;
}

//VERIFICATION INPUT
div.styles_react-code-input__CRulA {
  display: flex;
  justify-content: space-between;
}

div.styles_react-code-input__CRulA input {
  text-align: center;
  vertical-align: center;
  padding: 0!important;
  height: 50px;
  width: 55px;
  font-size: 36px;
  border: 0!important;
  border-radius: @border-radius-base!important;
  background-color: @third-color;
  color: @second-color;
}
