@import "src/variables";

.ant-picker {
    width: 100%;
    border: $border!important;
    color: black;
    //font-family: NanumGhoticBold;
    //outline: none!;
    padding: 10px 10px 10px 20px!important;
    border-radius: $border-radius!important;
    background-color: unset!important;
    //position: relative;
    //overflow: hidden;
    .ant-picker-input {
        //position: absolute;
        //top: 0;
        //left: 0;
    }
    * {
        font-family: NanumGhoticBold;
    }
}
.ant-picker.ant-picker-status-error {
    border-color: red!important;
}

.ant-picker-dropdown {
    border-radius: $border-radius!important;
    border: $border!important;
    font-family: NanumGhoticBold;
    overflow: hidden!important;
    .ant-picker-cell-selected {
        .ant-picker-cell-inner {
            background-color: $main-color!important;
            color: black!important;
            //border: 1px solid black!important;
            //padding: 5px;
        }

    }
}

.ant-picker:hover {
    border-color: $main-color!important;
}