@import 'src/variables';

.orders-page {
  //width: 100%;
  .ant-list-header {
    width: 100%;
    background-color: #f0f2f5;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .ant-spin-spinning {
    position: fixed!important;
    z-index: 100;
    top: 20%;
    left: 55%;
  }
}