//----COLORS----//
$pink: rgb(252, 32, 109);
$pink-light: rgb(254, 194, 215);
$purple: rgb(144, 0, 218);
$purple-light: rgb(198, 174, 214);
$main-color: $pink-light;

//------//
$header-height: 70px;
$padding-top: 20px;
$container-width: 90%;
$border-radius: 30px;
$font-sz-sm: 20px;
$font-sz-md: 25px;
$font-sz-l: 30px;
$font-sz-xl: 35px;