@import 'src/variables';
.signup-page {
  //background-color: $main-color;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  h1 {
    text-align: center;
  }
  &__form {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      &__itme {
        //width: 49%;
      }
    }
    &__item {
      margin-bottom: 50px;
    }
  }
}